In [1]:
import pandas as pd

df = pd.read_csv('../Data/data.csv')
df

,Timestamp,Review,Sentiment
0,2025-07-17 13:24:34,nice hotel expensive parking got good deal sta...,1
1,2025-07-17 13:24:34,ok nothing special charge diamond member hilto...,0
2,2025-07-17 13:24:34,nice rooms not 4* experience hotel monaco seat...,0
3,2025-07-17 13:24:34,"unique, great stay, wonderful time hotel monac...",1
4,2025-07-17 13:24:34,"great stay great stay, went seahawk game aweso...",1
...,...,...,...
20316,2025-07-18 21:18:21,excellent fronts wife stayed night february 20...,1
20317,2025-07-18 21:18:21,awesome hotel stayed luanna week 1 6. visit oa...,1
20318,2025-07-18 21:18:21,hope come chose hotel based location reviews t...,1
20319,2025-07-18 21:18:21,beautiful just returned 5 night stay beach hot...,1
20320,2025-07-18 21:18:21,great hotel perfect central location just came...,1

In [5]:
df_sampled = pd.concat([
  df[df['Sentiment'] == 0].sample(n=25, random_state=42),
  df[df['Sentiment'] == 1].sample(n=25, random_state=42)
]).sample(frac=1, random_state=42).reset_index(drop=True)
df_sampled.to_csv('../Data/gemini_sample_data.csv', index=False)