In [ ]:
# 225150200111004_1 HAIKAL THORIQ ATHAYA_1
# 225150200111008_2 MUHAMMAD ARSYA ZAIN YASHIFA_2
# 225150201111001_3 JAVIER AAHMES REANSYAH_3
# 225150201111003_4 MUHAMMAD HERDI ADAM_4

import pandas as pd
from datetime import datetime
import pytz

df = pd.read_csv('../Data/original_data.csv')

df_sampled = df.sample(n=500, random_state=42)
df_original = df.drop(df_sampled.index)

current_wib = datetime.now(pytz.timezone('Asia/Jakarta')).strftime('%Y-%m-%d %H:%M:%S')
df_sampled['Timestamp'] = current_wib

df_sampled

,Timestamp,Review,Sentiment
10726,2025-07-22 02:48:20,not recommend hotel did reviewers actually sta...,0
14919,2025-07-22 02:48:20,"barcelona rocks, stayed hotel jazz girlfriend ...",1
19098,2025-07-22 02:48:20,ok hotel good location stayed night way beijin...,0
2450,2025-07-22 02:48:20,great service nice pool ok beach lovely ground...,1
960,2025-07-22 02:48:20,surprising treat spent weekend july 15/16 2006...,1
...,...,...,...
14832,2025-07-22 02:48:20,pleasant stayed mini suite spaceous comfortabl...,1
18873,2025-07-22 02:48:20,great location highly recommend hotel location...,1
16858,2025-07-22 02:48:20,"best hotel stayed, wife stayed conrad bali 1-1...",1
3984,2025-07-22 02:48:20,"excellent value wonderful experience, arriving...",1
18467,2025-07-22 02:48:20,nice hotel great central location nice hotel g...,1

In [2]:
df_sampled.to_csv('../Data/new_data.csv', index=False)
df_original.to_csv('../Data/data.csv', index=False)