In [11]:
import pandas as pd
from datetime import datetime
import pytz

df = pd.read_csv('../Data/original_data.csv')

df_sampled = df.sample(n=500, random_state=42)
df_original = df.drop(df_sampled.index)

current_wib = datetime.now(pytz.timezone('Asia/Jakarta')).strftime('%Y-%m-%d %H:%M:%S')
df_sampled['Timestamp'] = current_wib

df_sampled

,Timestamp,Review,Sentiment
10726,2025-07-18 21:12:57,not recommend hotel did reviewers actually sta...,0
14919,2025-07-18 21:12:57,"barcelona rocks, stayed hotel jazz girlfriend ...",1
19098,2025-07-18 21:12:57,ok hotel good location stayed night way beijin...,0
2450,2025-07-18 21:12:57,great service nice pool ok beach lovely ground...,1
960,2025-07-18 21:12:57,surprising treat spent weekend july 15/16 2006...,1
...,...,...,...
14832,2025-07-18 21:12:57,pleasant stayed mini suite spaceous comfortabl...,1
18873,2025-07-18 21:12:57,great location highly recommend hotel location...,1
16858,2025-07-18 21:12:57,"best hotel stayed, wife stayed conrad bali 1-1...",1
3984,2025-07-18 21:12:57,"excellent value wonderful experience, arriving...",1
18467,2025-07-18 21:12:57,nice hotel great central location nice hotel g...,1

In [12]:
df_original

,Timestamp,Review,Sentiment
0,2025-07-17 13:24:34,nice hotel expensive parking got good deal sta...,1
1,2025-07-17 13:24:34,ok nothing special charge diamond member hilto...,0
2,2025-07-17 13:24:34,nice rooms not 4* experience hotel monaco seat...,0
3,2025-07-17 13:24:34,"unique, great stay, wonderful time hotel monac...",1
4,2025-07-17 13:24:34,"great stay great stay, went seahawk game aweso...",1
...,...,...,...
20486,2025-07-17 13:24:34,"best kept secret 3rd time staying charm, not 5...",1
20487,2025-07-17 13:24:34,great location price view hotel great quick pl...,1
20488,2025-07-17 13:24:34,"ok just looks nice modern outside, desk staff ...",0
20489,2025-07-17 13:24:34,hotel theft ruined vacation hotel opened sept ...,0
20490,2025-07-17 13:24:34,"people talking, ca n't believe excellent ratin...",0

In [13]:
df_sampled.to_csv('../Data/new_data.csv', index=False)
df_original.to_csv('../Data/data.csv', index=False)